<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App Javscript</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="wrapper">
        <header>Project Scion</header>
        <form action="/add_meeting" method="POST">
            <div class="inputField">
                <input type="text" name="class_name" placeholder="Meeting Name" required>
                <input type="datetime-local" name="class_time" placeholder="Time" required>
                <br>
            </div>
            <div class="inputField">
                <input type="text" name="class_link" placeholder="Meeting Link" required>
                <button type="submit"><i class="fas fa-plus"></i></button>
                <!-- <input type="submit" value=""> -->
                <!-- <button type="submit" formaction="#"><i class="fas fa-plus"></i></button> -->
            </div>
        </form>
        {% if meeting_list %}
        <div class="footer">
            <span>Pending Meetings <span class="pendingTasks"></span></span>
        </div>
        <br>
        <ul class="todoList">
            {% for meeting in meeting_list %}
            <li>
                {% if meeting['started'] %} Currently going on: {% endif %} {{meeting['class_name']}}
                <br> {{meeting['class_time']}}
                <span>
                    <form action="{{url_for('delete_meeting')}}" method="POST">
                        <input type="text" name="meeting_id" value="{{meeting['id']}}" hidden>
                        <button type="submit" class="icon">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </span>
            </li>
            {% endfor %}
        </ul>
        {% endif %} {% if finished_meetings %}
        <div class="footer">
            <span>Completed Meetings <span class="pendingTasks"></span></span>
        </div>
        <br>
        <ul class="todoList">
            {% for meeting in finished_meetings %}
            <li>
                {% if meeting['started'] %} Currently going on: {% endif %} {{meeting['class_name']}}
                <br> {{meeting['class_time']}}
                <span>
                    <form action="{{url_for('delete_meeting')}}" method="POST">
                        <input type="text" name="meeting_id" value="{{meeting['id']}}" hidden>
                        <button type="submit" class="icon">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <script src="{{ url_for('static', filename='main.js')}}"></script>

</body>

</html>