<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcribe Videos</title>
</head>

<body>
    {% if PROCESSING %}
    <h2>Your latest video is currently processing, please come back after some time, when it's done</h2>
    {% else %}
    <h2>Transcribe a new video</h2>
    <form action="/transcribe_video" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" required/>
        <input type="file" name="file" accept=".mp4" />
        <input type="submit" value="Upload">
    </form>
    {% endif %} {% if video_list %}
    <ol>
        <li>
            {% for video in video_list %}
            <ul>
                <li>{{video['video_name']}}</li>
                <li>{{video['video_file_text']}}</li>
            </ul>
            {% endfor %}
        </li>
    </ol>

    {% endif %}
</body>

</html>